.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}



@media (max-width: 640.98px) {
}


/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #3a0647;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 5px;
    right: 0;
}

    .dropdown-menu a {
        color: black;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
    }

/* Show Dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Optional: Style when hovering over options */
.dropdown-menu a:hover {
    background-color: #ddd;
}
